body {
    background-color: rgb(16, 43, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: rgba(0, 0, 0, 0.747);
    color: rgba(48, 136, 92, 0.863);
    width: fit-content;
    padding: 15px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 40px;
}

input, select, button {
    padding: 5px;
}